{{{include file="general/general.header.html"}}}
<link rel="stylesheet" href="{{{$static_url}}}/css/solve.css" />
		<!--意见反馈弹窗-->
		<div id="opinion">
			<div class="opinion-box">
				<div class="content">
					<h5>意见反馈</h5>
					<div class="email">
						<span>联系方式</span>
						<input type="text" placeholder="QQ或者email" name="way" id="way"/>
					</div>
					<div class="titles">
						<span>标题</span>
						<input type="text" placeholder="(6-20字)" name="title" id="title"/>
					</div>
					<div class="context">
						<span>内容</span>
						<textarea name="" rows="5" cols="5" maxlength='401' name="content" id="content"></textarea>
					</div>

					<div class="set">
						<button>发送意见</button>
						<span>取消</span>
					</div>
				</div>
			</div>
		</div>
		<!--成功弹窗-->
		<div id="win" class="">
			<div class="win-box">
				<div class="com">
					<img src="{{{$static_url}}}/image/laught_03.png" alt="" style="position:relative;"/>
					<span></span>
					<i></i>
				</div>
			</div>
		</div>

		<div class="service">
			<div class="service-left">
				<div class="title">
					<h3>服务中心</h3>
				</div>
				<div class="search">
					<div class="search-title">
						<h4>{{{$data.title}}}</h4>
						<p>{{{$data.addtime}}} 阅读 {{{$data.browsecount}}}</p>
					</div>
					<div class="man">
						<img src="{{{$sendServiceUser.avatar}}}" alt="{{{$sendServiceUser.nickname}}}" />
						<span>{{{$sendServiceUser.nickname}}}</span>
					</div>
					<div class="item">
					     {{{htmlspecialchars_decode($data.content)}}}
					</div>

				</div>
			</div>
			<div class="service-right">
				<div class="fade-back">
					<div class="fade-box"><i></i>意见反馈</div>
				</div>
				<div class="recomed">
					<div class="recomed-box">
						<h4>推荐阅读</h4>
						{{{foreach from=$recommend item=item}}}
						<a href="/service/solve/{{{$item.id}}}">{{{$item.title}}}</a>
						{{{/foreach}}}
					</div>
				</div>
			</div>
		</div>

		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="{{{$static_url}}}/js/common.js"></script>
		<script type="text/javascript">

			$('.service .service-right .fade-back .fade-box').click(function() {
				$('#opinion').css("display", "block")
			})

			$("#opinion").click(function(evt) {
				evt.stopPropagation();
				$('#opinion').css("display", "none")
			})
			$("#opinion .opinion-box .content").click(function(evt) {
				evt.stopPropagation();
				$('#opinion').css("display", "block")
			})
			$("#opinion .opinion-box .content .set span").click(function(evt){
				evt.stopPropagation();
				$('#opinion').css("display","none")
			})

			//发送意见反馈
			$("#opinion .opinion-box .content .set button").click(function(evt){

	        $('.error').remove();
	        var way = $('#way').val();
	        var title = $('#title').val();
	        var content = $('#content').val();
	        if(way == '' || title == '' || content == '') {
	          $("#opinion .opinion-box .content .set").before('<p class="error" style="margin-left:40px;height:35px; line-height:35px;">请填写完成信息</p>');
	          return false;
	        }

	        $.ajax({
	        url: '/service/addFeedback',
	        type: "post",
	        data: {
	          way: way, 
	          title:title,
	          content:content
	        },
	        success: function(ret) {

	          if(ret != '') {

	            var jsonarray = eval('(' + ret + ')');
	            var msg = jsonarray.msg;
	            var code = jsonarray.code;
	            if(code != 200) {
	              $("#opinion .opinion-box .content .set").before('<p class="error" style="margin-left:40px;height:35px; line-height:35px;">'+msg+'</p>');
	              return false;
	            }

	            evt.stopPropagation();
	            $('#opinion').css("display","none")
	            win(msg);

	          }

	        },
	        error: function() {

	          $("#opinion .opinion-box .content .set").before('<p class="error" style="margin-left:40px;height:35px; line-height:35px;">网络异常，请稍后再试</p>');
	          return false;

	        }
	      })

	      })

		//弹出提示框并关闭
		function win(msg){

		    $('#win').css('display',"block").addClass('anima');
		    $('#win').find('span').text(msg).css({position:'absolute',top:'75px',left:'90px'});
		    setTimeout(function () {
		        $('#win').css('display','none');
		 
		    }, 1000);
		}
		</script>

	</body>

</html>